.textContent h2 {
  letter-spacing: 0.025em;
  color: rgb(115, 139, 215);
  position: relative;
  line-height: 1.2em;
  font-weight: 500;
  font-size: 30px;
}
.textContent p {
  line-height: 1.5em;
  /*margin-top: 36px;*/
  font-weight: 500;
  font-size: 17px;
  color: #737f8d;
}

/*containers*/

.bodyOne, .bodyThree {
  background-color: #EAEAEA;
}

/*rows*/

.bodyOne .row, .bodyTwo .row {
  height: 600px;
}
.bodyThree .row {
  height: 500px;
}

/*text contents*/

.row .textContent {
  /*center contained title and paragraphs vertically*/
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  /*center contained title and paragraphs horizontally*/
  padding: 0 90px;
}

/*image contents*/

.imageContent {
  height: inherit;
}
.bodyOne .row .imageContent {
  margin: 60px 0;
  /*set background image*/
  background: #EAEAEA url(../Images/7a8f095edaae359508629bd44abe1b70.png) no-repeat left center;
  background-size: cover;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow: hidden;
}
.bodyTwo .row .imageContent {
  /*set background image*/
  background: white url(../Images/620cbc7437f078f413be90840891c36d.png) no-repeat center center;
  background-size: 375px 374px;
}
.bodyThree .row .imageContent {
  position: relative;
  overflow: hidden;
}
.bodyThree .row .imageContent .leftImageBlock {
  /*set two background images*/
  position: absolute;
  top: 190px;
  left: 90px;
  background: url("../Images/header2.png");
  width: 266px;
  height: 524px;
  background-size: 266px 524px;
}
.bodyThree .row .imageContent .rightImageBlock {
  position: absolute;
  top: -210px;
  left: 210px;
  background: url("../Images/50221720e75e9bb0e901731790a300cc.png");
  width: 280px;
  height: 546px;
  background-size: 280px 546px;
}